<%= render "layouts/header" %>

<div class="content">
  
  <h3 style="margin-left:13px">Editing a contribution</h3>
  <div style="color: red; margin-left: 15px; margin-bottom:13px"><%= notice %></div>
  <%= render 'form', contribution: @contribution, edit: true %>
  
</div>
