<%= render "layouts/header" %>

<div class="content">
  
  <h1>Editing Contribution</h1>
      <%= render 'form', contribution: @contribution %>
      <%= link_to 'Back', contributions_path %>
      
</div>
