<h1>New Contribution</h1>

<% if @contribution.errors.any? %>
    <h2>
        <%= pluralize(@contribution.errors.count, "error")%> prohibited this contribution from being saved:
    </h2>
    <ul>
        <% @contribution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
<%= render 'form', contribution: @contribution %>

<%= link_to 'Back', contributions_path %>


