<%= render "layouts/header" %>

<div class="content">

    <div style="color: red; margin-left: 15px; margin-top:13px; margin-bottom:13px"><%= notice %></div>
    <%= render 'form', contribution: @contribution, edit: false %>
    
</div>

