<%= render "layouts/header" %>

<div class="content">
  
    <%= render 'form', contribution: @contribution, edit: false %>
    <p style="color: red; margin-left: 15px; margin-bottom: 30px"><%= notice %></p>
      
</div>

