<div class="header">
  <div class="links"></div>
  <a href="/">  <img src="/assets/y18.gif" alt="logo"/><h1>Hacker News</h1></a>
  <div class="links">
    <a href="/newest">new</a></span> |
    <a href="/submit">submit</a></span> |
    <% if current_user.nil? %>
      <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
    <% else %>
       <%= link_to "sign out", "/sign_out" %> |
       <div class="right">
         <%= current_user.email %>(<%= current_user.karma %>)
       </div>
    <% end %>
    </div>
  </div>
</div>